.flexbox{ 
    position: absolute;
    display: flex;
    flex-flow: row wrap;
}
.column{
    flex: 1 1;
}
.clothes{
    display: none;

    background-color: white;
    position: absolute;
    height: auto;
    width: 750px;
    top: 0;
    left: 0;
    color: white;  
    z-index: 1; 
    border: solid 3px #6A7FDB;
}
.fashionShow{
    display: none;

    background-color: white;
    position: absolute;
    height: auto;
    width: 500px;
    top: 30px;
    left: 700px;
    color: white;  
    z-index: 1; 
    border: solid 3px #6A7FDB;
}
.portrait {
    display: none;

    background-color: white;
    position: absolute;
    height: auto;
    width: 1000px;
    top: 0;
    left: 100px;
    color: white;  
    z-index: 1; 
    border: solid 3px #6A7FDB;
}
.beats {
    display: none;

    background-color: #6A7FDB;
    position: absolute;
    height: 500px;
    width: 800px;
    top: 30px;
    left: 200px;
    color: white;  
    z-index: 1; 
}
.clothes, .fashionShow, .portrait, .beats p {
    margin: 5%;
    text-align: center;
}
@media screen and (min-width: 769px){
    .clothesLink:hover > .clothes{
        display: inline;
    }
    .fashionShowLink:hover > .fashionShow{
        display: inline;
    }
    .portraitLink:hover > .portrait{
        display: inline;
    }
    .beatsLink:hover > .beats{
        display: inline;
    }
}
.text {
    font-size: 36px;
    text-align: right;
    margin: 2%;
}

.defaultText{
    font-size: 56px;
    margin: 2%;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}
.linkText{
    position: relative;
    display: inline;
    z-index: 2;
}
.footer{
    flex: 100%;
    order: 3;
}