.socialmedia {
    margin: 10px;
    float: right;
}
.socialmedia img:last-child{
    display: none;
}
.socialmedia:hover img:last-child{
    display: inline-block;
}
.socialmedia:hover img:first-child{
    display: none;
}
img {
    display: inline-block;
    position: relative;
    height: auto;
    width: 50px;
    align-content:center;
}

